.footer-block {
  font-size: 13px;
  background-color: $color-light-grey;
  color: #666666;
  padding: 10px 20px;
}

.footer-block__table {
  width: 100%;

  tr td{
    padding: 3px 0;
    &:last-child {
      text-align: right;
    }
  }
}