.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__items {
  list-style-type: none;

  li {
    display: inline-block;
    margin-left: 10px;
    font-size: 13px;
  }

  li:first-child {
    margin-left: 0;
  }
}