.movie-details__bg-cover {
  position: relative;
  height: $movie-details-blured-block-height;
  background-position: center center;
  background-size: cover;
  margin-bottom: $movie-details-desc-wr-offset;
}

.movie-details__gradient {
  text-align: center;
  height: $movie-details-blured-block-height;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}

.movie-details__play-movie-btn {
  color: #ffffff;
  font-size: 48px;
  position: relative;
  top: 30px;
}

.movie-details__desc-wr {
  position: absolute;
  bottom: -$movie-details-desc-wr-offset;
  width: 100%;

  img {
    @include border-radius($poster-border-radius);
    @include box-shadow($poster-box-shadow);
    max-height: $movie-details-blured-block-height - 80px;
    float: right;
  }

  .movie-details__title-n-duration {
    position: absolute;
    bottom: 0;
    padding-right: 10px;

    p {
      margin-bottom: 0;
      color: #878787;
    }
  }
}

.movie-details__duration {
  font-size: 13px;
  margin: 10px 0 7px 0 !important;
}

.movie-details__issue-date {
  font-size: 11px;
  margin-bottom: 3px !important;
}

.movie-details__genres {
  font-size: 10px;

  span {
    display: inline-block;
    padding: 1px 5px;
    border: 1px #878787 solid;
    @include border-radius(15px);
    margin-top: 4px;
  }
}

.movie-details__desc-text {
  p {
    font-size: 13px;
  }
}

.movie-details__actions{
  background-color: $color-light-grey;
}

.movie-details__actions{
  padding-top: 4px;
  padding-bottom: 4px;
}

.movie-details__actions button{
  border: none;
  outline: none;
  background-color: $color-light-grey;
  font-size: 11px;
  font-weight: normal;
  display: block;
  width: 100%;
  line-height: 2.5em;

  i{
    color: #7a7a7a;
  }
}