.movie-list__item {
  display: inline-block;
  position: relative;

  img {
    @include border-radius($poster-border-radius);
    @include box-shadow($poster-box-shadow);
    z-index: 1;
  }

  .css-truncate.css-truncate-target, .css-truncate .css-truncate-target {
    max-width: $movies-item-width - (2 * $movie-list-item-x-axis-gutter);
  }
}

.movie-list__item-desc {
  text-align: center;
  margin-top: 5px;

  span {
    font-size: 13px;
    display: block;
  }
}

.movie-list__horizontal-scroller {
  height: $movies-item-height;
}

.movie-list__scoller {
  width: ($movies-item-amount * $movies-item-width) + (2 * ($list-x-axis-gutter - $movie-list-item-x-axis-gutter / 2));
  height: $movies-item-height;

  li {
    width: $movies-item-width;
    height: $movies-item-height;
  }
}

.movie__list-view-item {

  img {
    @include box-shadow($poster-box-shadow);
    @include border-radius($poster-border-radius);
  }
}

.movie-details__genres{
  white-space: normal;
}

.movie__list-view-item-title{
  white-space: normal;
}