.movie-details__bg-cover {
  position: relative;
  height: $movie-details-blured-block-height;
  background-position: center center;
  background-size: cover;
  margin-bottom: $movie-details-desc-wr-offset;
}

.movie-details__gradient {
  text-align: center;
  height: $movie-details-blured-block-height;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}

.movie-details__play-movie-btn {
  color: #ffffff;
  font-size: 48px;
  position: relative;
  top: 30px;
}

.movie-details__desc-wr {
  position: absolute;
  bottom: -$movie-details-desc-wr-offset;
  width: 100%;

  img {
    @include border-radius($poster-border-radius);
    @include box-shadow($poster-box-shadow);
    max-height: $movie-details-blured-block-height - 80px;
    float: right;
  }

  .movie-details__title-n-duration {
    position: absolute;
    bottom: 0;
    padding-right: 10px;

    p {
      margin-bottom: 0;
      color: $color-middle-grey;
    }

    h2 {
      line-height: 1.2;
    }
  }
}

.movie-details__duration {
  font-size: 13px;
  margin: 10px 0 7px 0 !important;
}

.movie-details__issue-date {
  font-size: 11px;
  margin-bottom: 3px !important;
}

.movie-details__genres {
  font-size: 10px;

  span {
    display: inline-block;
    padding: 1px 5px;
    border: 1px $color-middle-grey solid;
    @include border-radius(15px);
    margin-top: 4px;
  }
}

.movie-details__desc-text {
  p {
    font-size: 13px;
  }
}

.movie-details__actions {
  background-color: $color-light-grey;
}

.movie-details__actions {
  padding-top: 4px;
  padding-bottom: 4px;
}

.movie-details__actions button {
  border: none;
  outline: none;
  background-color: $color-light-grey;
  font-size: 11px;
  font-weight: normal;
  display: block;
  width: 100%;
  line-height: 2.5em;

  i {
    color: #7a7a7a;
  }
}

.seasons__horizontal-scroller {
  height: 300px;
}

.seasons__scoller {
  height: 300px;
  width: 550px;
}

.seasons__list-col {
  width: 250px;
  //background-color: yellow;
}

.seasons__list-item {
  float: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;

  a {
    display: block;
    text-decoration: none;
    position: relative;
    height: 50px;

    img {
      display: inline-block;
      float: left;
      @include border-radius($poster-border-radius);
      height: 50px;
      width: 90px;
    }

    span{
      display: inline-block;
      float: left;
      margin-left: 10px;
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      bottom: -1px;
      right: 0;
      width: 150px;
      height: 1px;
      border-top: 1px $color-light-grey-border solid;
    }
  }
}

.seasons__list-item-title{
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

.seasons__list-item-desc{
  color: $color-middle-grey;
  font-size: 12px;
}

.seasons__scoller ul > li {
  padding-top: 0;
  padding-bottom: 0;
}

.seasons-window__item{
  border-bottom: 1px $color-light-grey-border solid;
  
  a{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

.seasons-window__item-poster{
  display: inline-block;
  float: left;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @include border-radius($poster-border-radius);
}

.seasons-window__item-title{
  font-size: 16px;
  display: block;
  margin-top: 9px;
  color: #000;
}

.seasons-window__item-desc{
  font-size: 12px;
  display: block;
  font-weight: normal;
  color: $color-middle-grey;
}

.seasons-window__item-current{
  background-color: $color-light-grey;
}

.seasons-window__item-curent-icon{
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 20px;
}