.series-list__item {
  position: relative;
  overflow: hidden;
  @include border-radius($poster-border-radius);
  .css-truncate.css-truncate-target, .css-truncate .css-truncate-target {
    max-width: $series-item-width - $movie-list-item-x-axis-gutter;
  }
}

.series-list__item a {
  display: block;
  height: 150px;

  p {
    text-align: center;
    padding-top: 8px;
  }

  span {
    text-decoration: none;
    color: #ffffff;
  }

  img {
    display: inline-block;
    position: absolute;
    top: 80px;
    z-index: 2;
    width: 80px !important;
    @include border-radius($poster-border-radius);
    outline: 1px solid transparent;
  }
}

.series-list__item-title {
  top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 200;
}

.series-list__item-poster-left {
  left: 15px;
}

.series-list__item .series-list__item-poster-middle {
  z-index: 3;
  width: 95px !important;
  left: 60px;
  top: 40px;
  @include box-shadow($series-poster-box-shadow);
}

.series-list__item-poster-right {
  right: 15px;
}

.series-list__horizontal-scroller {
  height: $series-item-height;
}

.series-list__scoller {
  width: ($series-item-amount * $series-item-width) + (2 * ($list-x-axis-gutter - $movie-list-item-x-axis-gutter / 2));
  height: $series-item-height;

  li {
    width: $series-item-width;
    height: $series-item-height;
  }
}