.ted-list__item {
  position: relative;

  a {
    color: #333333;
    text-decoration: none;

    img {
      @include border-radius($poster-border-radius);
      position: relative;
      z-index: 1;
    }
  }
}

.ted-list .movie-list-header h3 a {
  font-weight: normal;
  font-size: 12px;
}

.ted-list__item-desc {
  margin-top: 5px;

  span {
    font-size: 13px;
    display: block;
  }

  .css-truncate.css-truncate-target, .css-truncate .css-truncate-target {
    max-width: $ted-item-width - (2 * $movie-list-item-x-axis-gutter);
  }
}

.ted-list__horizontal-scroller {
  height: $ted-item-height;
}

.ted-list__scoller {
  width: ($ted-item-amount * $ted-item-width) + (2 * ($list-x-axis-gutter - $movie-list-item-x-axis-gutter / 2));
  height: $ted-item-height;

  li {
    width: $ted-item-width;
    height: $ted-item-height;
  }
}



.ted__list-view-item img{
  @include border-radius($poster-border-radius);
}

.ted__list-item-title{
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2;
}

.ted__list-item-desc{
  color: $color-middle-grey;
  font-size: 11px;
  margin-top: 5px;
}