// header dark theme
$header-dark-theme-bg-color: #24292E;

// light grey color
$color-light-grey: #F8F8F8;
$color-middle-grey: #666666;
$color-light-grey-border: #ececec;

// input border-radius
$input-border-radius: 3px;

// sections (movies list, cartoons list, series list... are all sections)
$section-margin-top: 20px;

// movie's item amount
$movies-item-amount: 5;
// series item amount
$series-item-amount: 3;
// ted item amount
$ted-item-amount: 3;

// movie's item width
$movies-item-width: 140px;
// series item width
$series-item-width: 230px;
// ted item width
$ted-item-width: 230px;

// movie's item height
$movies-item-height: 220px;
// series item height
$series-item-height: 180px;
// ted item height
$ted-item-height: 160px;

// gutter on x-axis for each item in any list
$movie-list-item-x-axis-gutter: 15px;

// gutter on y-axis for each item in any list
$movie-list-item-y-axis-gutter: 5px;

// gutter on x-axis for all lists
$list-x-axis-gutter: 20px;

// space between movie's list and it's title (plus 'See more' link)
$movie-list-margin-top: 10px;

// posters
$poster-border-radius: 3px;
//$poster-box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
$poster-box-shadow: none;

// series posters
//$series-poster-box-shadow: 0 0 40px 1px rgba(0, 0, 0, .3);
$series-poster-box-shadow: none;

// view movie page
$movie-details-blured-block-height: 270px;

// movie-details__desc-wr offset
$movie-details-desc-wr-offset: 30px;