// header dark theme
$header-dark-theme-bg-color: #24292E;

// sections (movies list, cartoons list, series list... are all sections)
$section-margin-top: 20px;

// space between screen's left/right side & the first item
$movie-list-item-padding-x: 20px;

// space between movie list items
$movie-list-item-space: 15px;

// space between movie's list and it's title (plus 'See more' link)
$movie-list-margin-top: 10px;

// movie's poster width
$movie-list-item-width: 120px;
// series poster width
$series-list-item-width: 200px;
// TED's item width
$ted-list-item-width: 200px;

// posters
$poster-border-radius: 3px;
$poster-box-shadow: 0 2px 10px rgba(0, 0, 0, .3);

// series posters
$series-poster-box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.3);

// TED
$ted-item-box-shadow: 0 2px 0 0 #E7E7E7;

// view movie page
$view-movie-block-border-radius: 4px;
$movie-details-description-height: 400px;

//view series page
$series-details-height: 500px;