@import "_variables";
@import "mixins/_border_radius";
@import "mixins/box_shadow";
@import "blocks/header";
@import "blocks/horisontal-scroller";
@import "blocks/movie-list-header";
@import "blocks/_movie-list";
@import "blocks/_series-list";
@import "blocks/_ted-list";
//@import "blocks/_movie-details";
//@import "blocks/_series-details";
@import "blocks/_footer-block";
@import "blocks/_search-window";

@import "blocks/_login-page";
@import "blocks/_or-divider";

.outlined {
  outline: 1px #333 dotted;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto
}

// blocks: common styles start
.movie-list, .series-list, .ted-list, .movie-details, .video-player, .series-details {
  margin-top: $section-margin-top;
}

// blocks: common styles   end